*.pyc
data/
__pycache__/
checkpoints/
runs/
.idea/
*.pickle
*.csv
*.jpg
*.png
*.obj
*.stl
analysis_data/
temp/
**/*.pickle
**/*.jpg
**/*.png
**/*.html
**/*.log
**/*.aux
SUBMISSION*
venv/
!readme_pic/afilament.png
!readme_pic/Series005Snapshot.png


